.App {
  width: 80%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.navigation {
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  background: #7c70db;
  color: #fff;
  border-radius: 5px;
}

.trash {
  color: rgb(233, 121, 121);
  cursor: pointer;
}

.red {
  color: red;
}
.orange {
  color: orange;
}

.search-container {
  float: right;
}
