.footer {
  display: flex;
  justify-content: space-between;
}

.footer button {
  border-radius: 4px;
  padding: 4px 8px;
  border: none;
}

.footer button:first-child {
  background-color: #b8c2cc;
}

.footer button:first-child:hover {
  background-color: #8795a1;
}

.footer button:last-child {
  background-color: #ef5753;
  color: #fff;
}

.footer button:last-child:hover {
  background-color: #e3342f;
}
